<div class="row">
    <h1>Hard and soft skills:</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [imageSrc]="'../assets/html(1).png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [imageSrc]="'../assets/CSS(1).png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="55"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [imageSrc]="'../assets/js(1).png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [imageSrc]="'../assets/git(1).png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [imageSrc]="'../assets/grupal(1).png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [imageSrc]="'../assets/eng(1).png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [percent]="95"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
</div>

